<h1>AJAX Example</h1>

<div class="container client-monitor">
  <div class="page-header">
    <h2>questions</h2>
  </div>
  
  <div id="questions-inner-cont">
    
  </div>
</div>

<%= render(:partial => 'ajax_example.js', :formats => [:js] ) %>
